
            body {
                padding-left: 0%;
                padding-top: 0%;
            }
            .rectangle {
                border-radius: 25px;
                height: 200px;
                width: 200px;
                background-color: #a7cff2;
            }
            .header {
                height: 10vh;
                width: 100vw;
                background-color: #011640;
            }

            .nav-links {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                align-items: center;
            }
            #logo {
                width: 230px;
                height: 218px;
            }

            .button {
                height: 56px;
                width: 321px;
                background-color: #a7cff2;
            }
            body {
                margin: 0;
            }
            .svg-icon {
                width: 1em;
                height: 1em;
            }

            .svg-icon path,
            .svg-icon polygon,
            .svg-icon rect {
                fill: #4691f6;
            }

            .svg-icon circle {
                stroke: #4691f6;
                stroke-width: 1;
            }

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #011640;
            }
            .footer {
                display: flex;
                justify-content: space-between;
                margin-right: 40px;
                margin-left: 40px;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                align-items: center;
            }

            li a {
                text-align: center;
                padding: 16px;
                text-decoration: none;
                color: black;
            }

            .search-bar {
                display: flex;
                align-items: center;
                border: 2px solid #ccc;
                border-radius: 20px;
            }
            .search-bar input[type='text'] {
                background-color: #011640;
                border: none;
                padding: 10px;
                border-radius: 20px;
            }

            .search-bar button {
                background-color: #011640;
                border: none;
            }
            .fa-circle-user {
                color: white;
                padding: 16px;
                font-size: 24px;
            }

            .fa-magnifying-glass {
                color: white;
                padding: 8px;
            }

            .icons-container button {
                border-radius: 20px;
            }

            .logo {
                width: 40px;
                padding: 5px;
            }