

.commentSection {
    background-color: #A7CFF2;
    border-radius: 10px;
    background-size: 961px 679px;
}

.mainComment {
    background-color: #FFFFFF;
    margin: 50px;
    background-size: 900px 187px;
    border-radius: 10px;
}

