.rewards {
    margin: 10px;
}

h2 {
    margin: 10px;
}

h3 {
    margin: 10px;
}

body {
    align-items: center;
}

input[type=text] {
    width: 300px;
    height: 30px;
    left: 124px;
    top: 397px;
    border: 1px solid #A7CFF2;
    box-sizing: border-box;
    border-radius: 10px;
    
}

#rewardDescription {
    width: 400px;
    height: 100px;
    left: 124px;
    top: 397px;
    border: 1px solid #A7CFF2;
    box-sizing: border-box;
    border-radius: 10px;
}



.rewardContent {
    margin-left: 600px;
    margin-right: 10px;
    margin-top: -200px;
    padding: 10px;
}

#rewardContentTitle {
    margin-left: 600px;
    margin-right: 10px;
    margin-top: -200px;
    padding: 10px;
}

#rewardContentAmount {
    margin-left: 600px;
    margin-right: 10px;
    margin-top: -200px;
    padding: 10px;
}

#rewardContentDelivery {
    margin-left: 600px;
    margin-right: 10px;
    margin-top: -200px;
    padding: 10px;
}




input[type=submit] {
    margin-top: 20px;
    background-color: #A7CFF2;
    border-radius: 10px;
    border-color: #A7CFF2;
    border-style: hidden;
    width: 308px;
    height: 38px;
    left: 862px;
    top: 714px;
}

.date {
    border-radius: 10px;
    border-color: #A7CFF2;
    margin-top: 20px;
}

@media all and (max-width: 834px) {
    input[type=text] {
        width: 150px;
        height: 30px;
        left: 124px;
        top: 397px;
        border: 1px solid #A7CFF2;
        box-sizing: border-box;
        border-radius: 10px;
        
    }

    input[type=submit] {
        margin-top: 20px;
        background-color: #A7CFF2;
        border-radius: 10px;
        border-color: #A7CFF2;
        border-style: hidden;
        width: 200px;
        height: 38px;
        left: 862px;
        top: 714px;
    }

    .rewardContent {
        margin-left: 10px;
        margin-top: 50px;
        padding: 10px;
    }
    
    #rewardContentTitle {
        margin-left: 10px;
        padding: 10px;
    }
    
    #rewardContentAmount {
        margin-left: 10px;
        padding: 10px;
    }
    
    #rewardContentDelivery {
        margin-left: 10px;
        padding: 10px;
    }
}
